streamlit
plotly
pandas
numpy
scikit-learn
lightgbm
xgboost
prophet
matplotlib
plotly
networkx
shap
lime
openpyxl
python-dotenv
python-docx
Pillow
kaleido
streamlit-authenticator
streamlit-option-menu
bcrypt
scipy
pulp
statsmodels
optuna
